@using Microsoft.AspNetCore.Identity;
@model RoleEditViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <select asp-for="RoleName" asp-items="Model.RoleNames" class="form-control"></select>
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
