@using Microsoft.AspNetCore.Identity
@model List<IdentityRole> 

<body class="roles">
    <h3>Roles</h3>

    <table class="table-light">
        <thead >
            <tr>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <span class="mr-3" style="font-size: 18px; font-family: 'Arial', sans-serif; color: #333;">@Html.DisplayFor(modelItem => item.Name)</span>
                    </td>
                    <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm btn-icon">
                                    <img src="../Images/baseline_edit_black_24dp.png" alt="Editar" />
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm btn-icon">
                                    <img src="../Images/baseline_delete_outline_black_24dp.png" alt="Eliminar" />
                            </a>
                    </td>                        
                </tr>
            }
        </tbody>
    </table>
    <br>
    </br>
    <ul>
    <a asp-action="Create" class="btn  btn-primary">Crear nuevo Rol</a>
    </ul>
</body>