<!DOCTYPE html>
<html>
<head>
    <title>Índice de Alumno</title>
</head>
<body>
    <h1>Alumno</h1>
    <ul>
        <li><a asp-action="VerLibrosDisponibles" >Ver Libros Disponibles</a></li>
        <li><a asp-action="VerCategorias">Ver Categorías</a></li>
        <li><a href="reservar_libro.html">Reservar Libro</a></li>
        <li><a href="devolver_libro.html">Devolver Libro</a></li>
    </ul
</body>
</html>