<!DOCTYPE html>
<html>
<head>
    <title>Índice de Alumno</title>
    <link rel="stylesheet" href="~/css/alumno.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
    <h1>Bienvenido @User.Identity.Name</h1>
    <div class="row">
        <div class="col-md-3">
        <a asp-action="VerLibrosDisponibles" class="btn btn-primary">Ver Libros Disponibles</a>
        </div>
        <div class="col-md-3">
        <a asp-action="VerCategorias" class="btn btn-primary">Ver Categorías</a>
        </div>
        <div class="col-md-3">
        <a asp-action="ReservarLibro" class="btn btn-primary">Reservar Libro</a>
        </div>
        <div class="col-md-3">
        <a asp-action="DevolverLibro" class="btn btn-primary">Devolver Libro</a>
        </div>
    </div>
</div>
</body>
</html>


