<!DOCTYPE html>
<html>
<body class="alumnoFondo">

<!-- <h1 class="color">Hola, @User.Identity.Name</h1>  -->
        <div class="conta">
        <div class="box">
            <i class="icon">
                <img src="~/Images/book-education-outline.png" class="icon-img" />
             </i>
            <a asp-action="VerLibrosDisponibles" class="btn btn-outline-light boton mx-2">Ver Libros Disponibles</a>
        </div>
        <div class="box">
            <i class="icon">
                <img src="~/Images/bookshelf.png" class="icon-img" />
             </i>
            <a asp-action="VerCategorias" class="btn btn-outline-light boton mx-2">Ver Categorías</a>
        </div>
        <div class="box">
            <i class="icon">
                <img src="~/Images/book-check-outline.png" class="icon-img" />
             </i>
            <a asp-action="ReservarLibro" class="btn btn-outline-light boton mx-2">Reservar Libro</a>
        </div>
        <div class="box">
            <i class="icon">
                <img src="~/Images/book-cancel-outline.png" class="icon-img" />
             </i>
            <a asp-action="DevolverLibro" class="btn btn-outline-light boton mx-2">Devolver Libro</a>
        </div>
    </div>
</body>
</html>
