@{
    ViewData["Title"] = "Home Page";
}
<body class= "indexhome">
<div class="prueba">
  <h1>Biblioteca ISTEA</h1>
  
  <div class="botones">
    <a href="Book" class="btn btn-outline-light boton mx-2">Libros</a>
    <a href="Autor" class="btn btn-outline-light boton mx-2">Autores</a>
  </div>
</div>
</body>
