@{
    ViewData["Title"] = "Home Page";
}
<body class="indexhome">
    <div class="prueba">
        <h1 class="animate__animated animate__bounce display-4" >Biblioteca ISTEA</h1>

        <div class="contenido">
            <h3>Bienvenido,@User.Identity.Name</h3>
            <h4>¿Eres alumno o profesor?</h4>
        </div>
        <div class="botones">
            <a href="Alumno" class="btn btn-outline-light boton mx-2">Alumno</a>
            <a href="Profesor" class="btn btn-outline-light boton mx-2">Profesor</a>
        </div>
    </div>
</body>