<!DOCTYPE html>
<html>
<head>
    <title>Índice de Profesor</title>
</head>
<body>
    <h1 class="animate__animated animate__bounce display-4">Hola, Prof. @User.Identity.Name</h1>
    <ul>
        <li><a asp-action="AdministrarAutores" >Administrar Autores</a></li>
        <li><a asp-action="AdministrarLibros">Administrar Libros</a></li>
        <li><a asp-action="AdministrarCategorias">Administrar Categorias</a></li>
        <li><a asp-action="AdministrarRoles">Administrar Roles</a></li>
        <li><a asp-action="AdministrarUsuarios">Administrar Usuarios</a></li>
    </ul>
</body>
</html>