<!DOCTYPE html>
<html>
<head>
    <title>Índice de Profesor</title>
</head>
<body class="profesorFondo">
       <div class="conta">
        <div class="box">
            <i class="icon">
                <img src="../Images/account-tie.png" class="icon-img" />
             </i>
            <a asp-action="AdministrarAutores" class="btn btn-outline-light boton mx-2">Administrar Autores</a>
        </div>
        <div class="box">
            <i class="icon">
                <img src="../Images/book-education-outline.png" class="icon-img" />
             </i>
            <a asp-action="AdministrarLibros" class="btn btn-outline-light boton mx-2">Administrar Libros</a>
        </div>
        <div class="box">
            <i class="icon">
                <img src="../Images/bookshelf.png" class="icon-img" />
             </i>
            <a asp-action="AdministrarCategorias" class="btn btn-outline-light boton mx-2">Administrar Categorias</a>
        </div>
        @if (User.IsInRole("Administrador")){
        <div class="box">
            <i class="icon">
                <img src="../Images/human-edit.png" class="icon-img" />
             </i>
            <a asp-action="AdministrarRoles" class="btn btn-outline-light boton mx-2">Administrar Roles</a>
        </div>

        <div class="box">
            <i class="icon">
                <img src="../Images/account-group.png" class="icon-img" />
             </i>
            <a asp-action="AdministrarUsuarios" class="btn btn-outline-light boton mx-2">Administrar Usuarios</a>
        </div>
        }
        <div class="box">
            <i class="icon">
                <img src="../Images/account-multiple-outline.png" class="icon-img" />
             </i>
            <a asp-action="UsuariosConRoles" class="btn btn-outline-light boton mx-2">Ver roles de usuarios</a>
        </div>
    </div>
</body>
</html>
