@model Book

<!-- Resto del contenido de la vista -->
<body class="profesorFondo">
<h3>Quitar Reservar</h3>
<div>
    @if (Model.EstaReservado)
    {
        <form method="post" asp-action="QuitarReserva" asp-controller="Book">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-primary btn-lg">Quitar Reservar</button>
        </form>
    }
    else
    {
        <p>Este libro no está reservado.</p>
        <br>
        <div class="tirar-derecha">
        <a href="@Url.Action("Index", "Book")" class="btn btn-light btn-sm">
            <img src="~/Images/arrow-left-circle.png" class="pruebatamaño" />Volver a libro
        </a>
        </div>
    }
</div>
</body>
