.config{
    color: wheat;
    position: fixed;
    top: 20%;
    left: 20%;
}

.img-normalizada{
	width: 20px;
	height: 20px;
	object-fit: cover;
}

/**.prueba{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100vh;
        font-family: 'Montserrat', sans-serif;
        font-size: 20rem ;
        font-weight: bold;
        color: #ffffff;
        text-shadow: 2px 2px 4px #000000;
}
*/
.prueba {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 20rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
}

.prueba h1 {
  font-size: 4rem; /* Tamaño de fuente más grande para h1 */
  text-shadow: 4px 4px 8px #000000;
  padding: 10px;
}

.prueba h2 {
  font-size: 1.8rem; /* Tamaño de fuente para h2 */
  text-shadow: 4px 4px 8px #000000;
  padding: 10px;
}

.prueba h3 {
  font-size: 1.5rem; /* Tamaño de fuente para h3 */
  text-shadow: 4px 4px 8px #000000;
  padding: 10px;
}

.contenido {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/**.botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 60%;
    left: 60%;
    transform: translate(-70%, -70%);
    
  }
*/
.navbar-custom {
  background-color: #c7bbbb; /* Cambia este valor al color gris deseado */
  color: #c7bbbb; /* Cambia este valor para ajustar el color del texto en el encabezado */
}
  .botones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

  .boton {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    margin: 0 10px;
  }



